.fondo6{
    position: relative;
    width: 1380px;
    height: 1320px;
    background: #FFFFFF;
}

.menu6{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 60px;

    position: absolute;
    width: 824px;
    height: 105px;
    left: 228px;
    top: 46px;
}

.cuerpo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;

    position: absolute;
    width: 908px;
    height: 52px;
    left: 186px;
    top: 1190px;
}

.servicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 43px;
    
    position: absolute;
    width: 868px;
    height: 1127px;
    left: 206px;
    top: 194px;

}

.descripcion-servicio{
    position: inherit;
    width: 845px;
    height: 64px;
    top: 30px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 23px;

    width: 592px;
    height: 1012px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.name{
    width: 592px;
    height: 112px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.fname{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 125%;
    color: #372B73;
    
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.input-name{
    width: 592px;
    height: 66px;
    
    background: #D9D9D9;
    border-radius: 10px;
    border-style: none;

    flex: none;
    order: 1;
    flex-grow: 0; 

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #797979;
    padding-left: 27px;
}

.electronico{
    width: 592px;
    height: 112px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.felectronico{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 125%;
    color: #372B73;
    
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.input-electronico{
    width: 592px;
    height: 66px;
    
    background: #D9D9D9;
    border-radius: 10px;
    
    flex: none;
    order: 1;
    flex-grow: 0; 

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #797979;
    border-style: none;
    padding-left: 27px;
}

.mensaje{
    width: 592px;
    height: 393px;

    flex: none;
    order: 2;
    flex-grow: 0;  
}

.fmensaje{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 125%;

    color: #372B73;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.lmensaje{
    width: 592px;
    height: 347px;

    background: #D9D9D9;
    border-radius: 10px;
    border-style: none;

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;

    color: #797979;

    padding-left: 26px;
    padding-top: 67px;
    padding: 21px;


}

.enviar-mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 89px;
    gap: 20px;

    width: 253px;
    height: 55px;

    background: #604C9C;
    border-radius: 10px;
    border-style: none;

    flex: none;
    order: 3;
    flex-grow: 0;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44%;
    
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
